.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #2d2f33; // Couleur de fond
  padding: 10px 20px;

  .navbar-logo {
    height: 50px; // Ajustez selon vos besoins

  }

  .nav-links {
    display: flex;
    align-items: center;

    .nav-link {
      margin-left: 20px;
      text-decoration: none;

      color: #ffffff; // Couleur des liens
      font-size: 16px;

      &:hover {
        color: #4caf50; // Couleur au survol

      }
    }
  }
}



