@mixin reset-appearance {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

.select-filter {
  @include reset-appearance;
  width: calc(50% - 10px);
  padding: 10px;
  margin-right: 10px; 
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 1rem;
  box-sizing: border-box;
  background: url("./images/components/dropdown.svg") no-repeat right 10px center / 15px 15px;
}
