
$primary-color: #0055a4;   
$secondary-color: #ffcc00; 
$tertiary-color: #e63946;  


$font-family-base: 'Roboto', sans-serif; 
$font-size-base: 16px; 
$heading-font-family: 'Montserrat', sans-serif; 


@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin text-center {
  text-align: center;
}

@mixin box-shadow($x: 0, $y: 0, $blur: 10px, $color: rgba(0, 0, 0, 0.1)) {
  box-shadow: $x $y $blur $color;
}


$container-width: 1200px;
$gutter-width: 15px;


$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px
);


@function breakpoint($name) {
  @return map-get($breakpoints, $name);
}


@mixin respond-to($breakpoint) {
  @media (min-width: breakpoint($breakpoint)) {
    @content;
  }
}
