
@import 'settings'; 
@import "./components/_navbar.scss";
@mixin reset-sizes {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html {
  @include reset-sizes();

  body {
    @include reset-sizes();
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    background-color: #e5e5e5;
  }
}


html {
  font-family: $font-family-base;
  font-size: $font-size-base;
  box-sizing: border-box;

}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: #f5f5f5; 
  color: #333; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  margin-top: 0;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}


.container {
  max-width: $container-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: $gutter-width;
  padding-left: $gutter-width;
}

#root {
  width: 100%;
  height: 100%;
}



